<div class="wrapper">
    <div class="main-panel myFont">
        <div class="content"
				style="z-index: 5; padding-top: 20px; padding-bottom: 0px;min-height: unset;">
				<h3 style="color:#db3236; text-align: center; font-size: 20px;">Student Registration Form</h3>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="card-body">
                                <div class = "row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="dx-field">
                                                <div class="dx-field-label" style = "font-size: 14px;
                                                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                                    font-weight: 550;">Search Student
                                                </div>
                                                
                                                <div class="dx-field-value">
                                                    <dx-text-box placeholder="Search By User Name / First Name / Last Name / Email ID " class = "placeHolderFont"  
                                                    [showClearButton]="true" [(ngModel)]="userName">    
                                                    </dx-text-box>
                                                      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-info btn-fill placeHolderFont" (click)=fetchStudentInformation()>Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf = "showStudentInformationDiv" class = "card-body myFont" style = "width: -webkit-fill-available; height: -webkit-fill-available;">
                                <div  id = "data-grid-demo">
                                    <dx-data-grid 
                                                id = "gridContainer"
                                                [dataSource] = "student"
                                                [showColumnLines] = "true"
                                                [showRowLines] = "true"
                                                [showBorders] = "true"
                                                [rowAlternationEnabled] = "true"
                                                [allowColumnResizing] = "true"
                                                [allowColumnReordering] = "true"
                                                [columnAutoWidth] = "true"
                                                (onRowUpdated) = "updateGroupCode($event)">
                                               
                                                <dxo-scrolling columnRenderingMode="virtual" 
                                                                rowRenderingMode="virtual" 
                                                                showScrollBar = "onHover"
                                                                useNative = "false">
                                                </dxo-scrolling>
                                            <dxo-export [enabled]="true" fileName="Student-List" [allowExportSelectedData]="true"></dxo-export>
                                    
                                            <dxo-header-filter [visible] = "true"></dxo-header-filter>
                                            <dxo-search-panel [visible]="true"></dxo-search-panel>
                                            <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
                                            <dxo-selection mode="multiple"></dxo-selection>
                                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                                            <!-- <dxo-paging [pageSize] = "10"></dxo-paging> -->
                                            <dxo-pager
                                                [showPageSizeSelector] = "true"
                                                [showInfo] = "true">
                                            </dxo-pager>
                                            <dxo-editing
                                                mode = "popup"
                                                [allowUpdating] = "true"
                                                [allowDeleting]="false"
                                                [allowAdding] = "false">
                                                <dxo-popup
                                                    title="Student Information"
                                                    [showTitle]="true"
                                                    [width]="800"
                                                    [height]="550"
                                                    [position]="{ my: 'top', at: 'top'}"> 
                                                    <!-- , of: window }"> -->
                                                </dxo-popup>
                                                <dxo-form>
                                                    <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                                        <dxi-item dataField="firstName" [editorOptions]="{ disabled: true }"></dxi-item>
                                                        <dxi-item dataField="lastName" [editorOptions]="{ disabled: true }"></dxi-item>

                                                        <dxi-item dataField="fatherName" [editorOptions]="{ disabled: true }"></dxi-item>
                                                        <dxi-item dataField="motherName" [editorOptions]="{ disabled: true }"></dxi-item>

                                                        <dxi-item dataField="whatsappNumber" [editorOptions]="{ disabled: true }"></dxi-item>
                                                        <dxi-item dataField="guardianPhoneNumber" [editorOptions]="{ disabled: true }"></dxi-item>
    
                                                        <dxi-item  dataField="emailId" [editorOptions]="{ disabled: true }"></dxi-item>
                                                        <dxi-item  dataField="alternatePhoneNumber" [editorOptions]="{ disabled: true }"></dxi-item>

                                                        <dxi-item  dataField="gender" [editorOptions]="{ disabled: true }"></dxi-item>
                                                        <dxi-item  dataField="category" [editorOptions]="{ disabled: true }"></dxi-item>
    
                                                        <dxi-item  dataField="dateOfBirth" [editorOptions]="{ disabled: true }"></dxi-item>
                                                        <dxi-item  dataField="age" [editorOptions]="{ disabled: true }"></dxi-item>
                                                       
                                                        <dxi-item  dataField="collegeYear" [editorOptions]="{ disabled: true }"></dxi-item>
                                                        <dxi-item  dataField="feeReceiptNumber" [(visible)] = "showFeeReceiptNumber" [editorOptions]="{ disabled: true }"></dxi-item>
                                                        <dxi-item  dataField="enrollmentNumber" [(visible)] = "showStudentEnrollmentNumber" [editorOptions]="{ disabled: true }"></dxi-item>
                                                       
                                                        <dxi-item dataField="groupDivision"></dxi-item>
                                                        <dxi-item dataField="studentCode" [editorOptions]="{ disabled: true }"></dxi-item>
                                                       
                                                    </dxi-item>
                                                </dxo-form>
                                            </dxo-editing>
                                    
                                            <dxo-filter-row [visible] = "showFilterRow" [applyFilter] = "currentFilter"></dxo-filter-row>
                                    
                                            <dxi-column dataField = "firstName" caption = "First Name"></dxi-column>
                                            <dxi-column dataField = "lastName" caption = "Last Name"></dxi-column>
                                            <dxi-column dataField = "emailId" caption = "Email ID"></dxi-column>

                                            <dxi-column dataField = "fatherName" caption = "Father Name" ></dxi-column>
                                            <dxi-column dataField = "motherName" caption = "Mother Name" ></dxi-column>
                                            <dxi-column dataField = "dateOfBirth" caption = "DOB"  dataType="date"></dxi-column>

                                            <dxi-column dataField = "collegeYear" caption = "College Year" dataType = "number"></dxi-column>  
                                            <dxi-column dataField = "groupDivision" caption = "Group Name" ></dxi-column>
                                            <dxi-column dataField = "studentCode" caption = "Student Code"></dxi-column>
                    
                                            <dxi-column dataField = "gender" caption = "Gender"></dxi-column>
                                            <dxi-column dataField = "category" caption = "Category" ></dxi-column>
                                          
                                            <dxi-column dataField = "whatsappNumber" caption = "WhatsApp Number" dataType="number" [(visible)]= "itemVisible"></dxi-column>
                                            <dxi-column dataField = "guardianPhoneNumber" caption = "Guardian Number" dataType="number" [(visible)]= "itemVisible"></dxi-column>
                                            <dxi-column dataField = "alternatePhoneNumber" caption = "Alternate Number" dataType="number" [(visible)]= "itemVisible"></dxi-column>
                                            <dxi-column dataField = "age" caption = "Age" dataType = "number" [(visible)]= "itemVisible"></dxi-column>
                                            <dxi-column dataField = "streamName" caption = "Stream" [(visible)]= "itemVisible"></dxi-column>
                                            <dxi-column dataField = "subjectName" caption = "Subjects" [(visible)]= "itemVisible"></dxi-column>
                                            <dxi-column dataField = "feeReceiptNumber" caption = "Fee Receipt Number" dataType = "number" [(visible)]= "itemVisible"></dxi-column>
                                            <dxi-column dataField = "enrollmentNumber" caption = "Enrollment Number" dataType = "number" [(visible)]= "itemVisible"></dxi-column>
                                            
                                        </dx-data-grid>
                                    </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dx-load-panel shadingColor = "rgba(0,0,0,0.4)"  [showIndicator] = "true" [(visible)] = "loadingVisible"
                [shading] = "true" [closeOnOutsideClick] = "false">
               <!-- [showPanel] = "true"  -->
</dx-load-panel>