<div class="wrapper">
	<div class="main-panel">
		<div class="content"
			style="z-index: 5; padding-top: 50px; padding-bottom: 0px;min-height: unset;">
			<h5 style="color:#db3236;" align="center"></h5>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card-body">
						<div class="row">
							<dx-popup
                                [width]="800"
                                [height]="500"
                                [showTitle]="true"
                                title="Faculty Registration"
                                [dragEnabled]="false"
                                [showCloseButton] = "false"
                                [closeOnOutsideClick]="false"
								[(visible)]="facultyRegistrationPopupVisible">
								<div class = "popupStyle" *dxTemplate="let data of 'content'">
									<form [formGroup]="checkoutForm" (ngSubmit)="submit()"> 
										<div class="card-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class = "myfont required">Faculty First Name</label> <input type="text"
															class="form-control placeHolderFont" placeholder="Faculty First Name" 
															formControlName="firstName" required>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class = "myfont required">Faculty Last Name</label> <input type="text"
															class="form-control placeHolderFont" placeholder="Faculty Last Name" 
															formControlName="lastName" required>
													</div>
												</div>
											</div>
											<div class = "row">	</div>
											<div class = "row">
												<div class="col-md-6">
													<div class="form-group">
														<label class = "myfont required">Email ID</label> <input type="email"
															class="form-control placeHolderFont" placeholder="Email ID" 
															required formControlName="emailId" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label class = "myfont required">Contact Number</label> <input type="number"
															class="form-control placeHolderFont" placeholder="Contact Number" maxlength="10"  pattern="[0-9]{10}"
															formControlName="contactNumber" required>
													</div>
												</div>
											</div>
											<div class = "row">	</div>
											<div class = "row">	
												<div class="col-md-6">
													<div class="form-group">
														<label class = "myfont required">Faculty UserName</label> <input type="text"
															class="form-control placeHolderFont" placeholder="Select a UserName" 
															formControlName="userName" required>
													</div>
												</div>
												<div class="col-md-6">	
													<div class="form-group">
													   <label class = "myfont required">Admin OTP</label> <input type="number"
													   class="form-control placeHolderFont" placeholder="Admin OTP" 
													   formControlName="adminOTP" required>
												   </div> 
											   </div>
											</div>
											<div class = "row">	</div>
											<div class = "row">	
												<div class="col-md-6">
													<div class="form-group">
													   <label class = "myfont required">Password</label> 
													   <input type="password"
														   class="form-control placeHolderFont" placeholder="Password" 
														   formControlName="password"  id="password" required>	
												   </div>
												  
											   </div>
												<div class="col-md-6">
													 <div class="form-group">
														<label class = "myfont required">Confirm Password</label> 
														<input type="password"
															class="form-control placeHolderFont" placeholder="Confirm Password"
															id="confirmPassword" required>
															
													 </div>
												</div>
											</div>
											<br>
											<div class="col-md-12 text-center">
												<button type="submit" class="btn btn-info btn-fill" >Submit</button>&nbsp; &nbsp;
												<!-- <button  class="btn btn-info btn-fill ">Cancel</button> -->
											</div>
										</div>
									</form>
								</div>
							</dx-popup>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>